# =========================
# Sistema Operativo
# =========================
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*~

# =========================
# Entorno y seguridad
# =========================
.env
.vagrant
Vagrantfile
php_errors.log

# =========================
# CodeIgniter 4
# =========================
/writable/*
!/writable/.htaccess
!/writable/index.html

/public/uploads/

# =========================
# Composer
# =========================
/vendor/

# =========================
# Tests
# =========================
tests/coverage*
phpunit
phpunit*.xml

# =========================
# IDEs / Editores
# =========================
.idea/
.vscode/
*.iml
.phpintel

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
